.item {
	display: flex;
	justify-content: space-between;
	padding: 8px;
	border-bottom: 1px solid #E2E2E2;

	&:last-child {
		border: none;
		border-bottom-left-radius: 5px;
		border-bottom-right-radius: 5px;
	}

	&:hover {
		background: #FFF;

		.toggle {
			display: inline;
		}
	}

	.monitor {
		text-decoration: none;
		color: #434343;
	}

	.monitor {
		font-size: 14px;
	}

	.status {
		font-size: 12px;
	}

	.toggle {
		margin-right: 5px;

		&.on {
			color: #00c853;
		}

		&.off {
			color: #D7D7D7;
		}
	}

	.remove {
		color: #D7D7D7;

		&:hover {
			color: #434343;
		}
	}
}
